@import url('https://fonts.googleapis.com/css?family=Play|Sedgwick+Ave+Display');


/* NAVBAR STYLES */

.navbar-default {
  background-color: transparent;
  border: none;
  padding: 2em;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #7D3C98;
  text-shadow: 2px 2px 2px #000;
  border-radius: 10px;
}

.navbar-default
.navbar-nav>li>a {
  color: #000;
  text-shadow: 1px 1px 1px #000;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: rbga(0,0,0,.25);
}
.navbar-brand {
  height: 130px;
  margin-top: -30px;
  margin-left: 0;
  margin-bottom: -40px;
}
.navbar-brand img {
  max-height: 100%;
}

/* CAROUSEL STYLES */
.item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.item h2 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 5em;
  color: #CF1717;
}

.item h3 {
  font-family: 'Play', sans-serif;
  font-size: 3em;
  color: #E68100;

}

.profitgrowth-bg {
  background-image: url('../img/profitgrowth.jpg');
}

.phone-bg {
  /* background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
  background-image: url('../img/phone.jpeg');
}

.page-2 {
  background: linear-gradient(to right,#CF1717,orange,#E68100,#6B8E23);
  padding: 1em;
}

.page-3 {
  background: linear-gradient(to top,#1B4F72,violet,forestgreen);
  padding: 1em;
}




.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.social-icons > a {
  font-size: 2em;
  height: 30px;
  padding-left: 10px;
}

.fa {
  color: white;
}


@media (min-width: 675px) {
  .item h3 {
    color: indigo;
  }
  .row row-space {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: green 0.8;
    }
  .item h2 {
    color: ##3498DB;
  }
}
/* moreentered */
